<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Filters</h4>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <!--<li class="active"><a href="#section1">Home</a></li>-->
                <!--<li><a href="#section2">Friends</a></li>-->
                <!--<li><a href="#section3">Family</a></li>-->
                <!--<li><a href="#section3">Photos</a></li>-->

                <div id="myBtnContainer">
                    <li><button class="btn active" onclick="filterSelection('all')"> Show all</button></li>
                    <li><button class="btn" onclick="filterSelection('location')"> Location</button></li>
                    <li><button class="btn" onclick="filterSelection('building')"> Building</button></li>
                    <li><button class="btn" onclick="filterSelection('tech')"> Technology</button></li>
                    <li><button class="btn" onclick="filterSelection('languages')"> Languages</button></li>
                    <li><button class="btn" onclick="filterSelection('lob')"> Line of Business</button></li>
                </div>
            </ul><br>

        </div>

        <div class="col-sm-9">
            <h4><small>RECENT POSTS</small></h4>
            <hr>
            <h2>Intern 1 ... </h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
            <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
            <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <br><br>

            <h4><small>RECENT POSTS</small></h4>
            <hr>
            <h2>Intern 2 ...</h2>
        </div>
    </div>
</div>

<footer class="container-fluid">
    <p>ShadOps</p>
</footer>

</body>
</html>
